<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Agregar Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Agregar Registro</ion-title>
    </ion-toolbar>
  </ion-header>

  <form (ngSubmit)="onSubmit()" #financeForm="ngForm">
    <ion-list [inset]="true">
      <ion-item>
        <ion-label>Fecha del Registro</ion-label>
        <ion-datetime-button datetime="datetime"></ion-datetime-button>
      </ion-item>
      <ion-item>
        <ion-input
          label="Ganancias del Día"
          labelPlacement="stacked"
          type="number"
          placeholder="1250.00"
          [required]="true"
          (ionInput)="handleInput($event, dailyEarnings)"
          [value]="dailyEarnings()">
            <div slot="start">$</div>
        </ion-input>
      </ion-item>
    </ion-list>
    
    <ion-modal [keepContentsMounted]="true">
      <ng-template>
        <ion-datetime 
          id="datetime"
          presentation="date"
          [showDefaultButtons]="true"
          (ionChange)="recordDate.set(($event.detail.value ?? '') + '')"
          [value]="recordDate()"
          done-text="Hecho"
          cancel-text="Cancelar"
          >
        </ion-datetime>
      </ng-template>
    </ion-modal>

    <ion-list [inset]="true">
      <ion-list-header>
        <ion-label>Egresos / Gastos</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-grid>
            <ion-row class="ion-align-items-center">
                <ion-col size="12" size-sm="5"><ion-label>Gastos de Maíz</ion-label></ion-col>
                <ion-col size="6" size-sm="3.5">
                    <ion-input type="number" placeholder="Cant." (ionInput)="handleInput($event, cornBags)" [value]="cornBags()"></ion-input>
                </ion-col>
                <ion-col size="6" size-sm="3.5">
                    <ion-input type="number" placeholder="Precio" (ionInput)="handleInput($event, cornPrice)" [value]="cornPrice()"><div slot="start">$</div></ion-input>
                </ion-col>
            </ion-row>
        </ion-grid>
      </ion-item>
       <ion-item>
        <ion-grid>
            <ion-row class="ion-align-items-center">
                <ion-col size="12" size-sm="5"><ion-label>Gastos de Carbón</ion-label></ion-col>
                <ion-col size="6" size-sm="3.5">
                    <ion-input type="number" placeholder="Cant." (ionInput)="handleInput($event, charcoalBags)" [value]="charcoalBags()"></ion-input>
                </ion-col>
                <ion-col size="6" size-sm="3.5">
                    <ion-input type="number" placeholder="Precio" (ionInput)="handleInput($event, charcoalPrice)" [value]="charcoalPrice()"><div slot="start">$</div></ion-input>
                </ion-col>
            </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item>
        <ion-input label="Gastos Generales" labelPlacement="stacked" type="number" placeholder="Total" (ionInput)="handleInput($event, generalExpenses)" [value]="generalExpenses()"><div slot="start">$</div></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Gastos de Operación" labelPlacement="stacked" type="number" placeholder="Total" (ionInput)="handleInput($event, operatingExpenses)" [value]="operatingExpenses()"><div slot="start">$</div></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Gasto de los Trabajadores" labelPlacement="stacked" type="number" placeholder="Total" (ionInput)="handleInput($event, workerExpenses)" [value]="workerExpenses()"><div slot="start">$</div></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Gasto del Arriendo" labelPlacement="stacked" type="number" placeholder="Total" (ionInput)="handleInput($event, rentExpenses)" [value]="rentExpenses()"><div slot="start">$</div></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Gastos de las Motos" labelPlacement="stacked" type="number" placeholder="Total" (ionInput)="handleInput($event, motorcycleExpenses)" [value]="motorcycleExpenses()"><div slot="start">$</div></ion-input>
      </ion-item>
    </ion-list>
    
    <ion-card class="ion-margin">
        <ion-card-content>
            <ion-item lines="none">
                <ion-label>Total de Egresos:</ion-label>
                <ion-text color="danger" slot="end">
                    <h2 class="ion-no-margin">${{ totalExpenses() | number:'1.2-2' }}</h2>
                </ion-text>
            </ion-item>
            <ion-item lines="none">
                <ion-label><strong>Beneficio Neto:</strong></ion-label>
                <ion-text [color]="netProfit() >= 0 ? 'success' : 'danger'" slot="end">
                    <h2 class="ion-no-margin">${{ netProfit() | number:'1.2-2' }}</h2>
                </ion-text>
            </ion-item>
        </ion-card-content>
    </ion-card>

    <div class="ion-padding">
       <ion-button 
        type="submit" 
        expand="block"
        [disabled]="dailyEarnings() === null || (dailyEarnings() ?? 0) < 0">
        Guardar Registro
      </ion-button>
    </div>
  </form>
</ion-content>