<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/cajas"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ getBoxName() }}</ion-title>
    <ion-title slot="end">${{ getTotal() | number:'1.0-0' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div style="height:260px">
    <canvas #chartCanvas></canvas>
  </div>

  <!-- botones para agregar ingreso/egreso -->
  <div class="ion-padding-vertical">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button expand="block" color="success" (click)="openAddControl('ingreso')">
            + Agregar ingreso
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="block" color="danger" (click)="openAddControl('egreso')">
            - Agregar egreso
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <ion-list>
    @for (c of series(); track $index) {
        <ion-item lines="full">
          <ion-label>
            <h3>{{ c.date }}</h3>
            <p>Origen: {{ c.origin }}</p>
            @if (c.note) {<p>Nota: {{ c.note }}</p>}
            <p class="ion-text-wrap">Total: ${{ c.total | number:'1.0-0' }}</p>
          </ion-label>
          <ion-button fill="clear" color="danger" slot="end" size="default" (click)="removeControl(c.id)">
            <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
          </ion-button>
        </ion-item>
    }

    @if (series().length === 0) {
        <ion-item lines="none">
          <ion-label>No hay movimientos en esta caja.</ion-label>
        </ion-item>
    }

  </ion-list>
</ion-content>