<ion-header>
  <ion-toolbar>
    <ion-title>{{ header }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="confirm()" #newRecordForm="ngForm">
    <ion-item>
      <ion-label position="stacked">Fecha</ion-label>
      <ion-datetime
        display-format="YYYY-MM-DD"
        picker-format="YYYY-MM-DD"
        [value]="date()"
        (ionChange)="changeDate($event)"
        presentation="date">
      </ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Cantidad y Precio</ion-label>
      <ion-checkbox slot="end" [checked]="extraFields()" (ionChange)="toggleExtraFields()"></ion-checkbox>
    </ion-item>

    <ng-container *ngIf="extraFields(); else noExtra">
      <ion-item>
        <ion-label position="stacked">Cantidad (opcional)</ion-label>
        <ion-input type="number" [value]="quantity()" (ionInput)="changeQuantity($event)" placeholder="Cantidad"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Precio unitario (opcional)</ion-label>
        <ion-input type="number" [value]="price()" (ionInput)="changePrice($event)" placeholder="Precio"></ion-input>
      </ion-item>
    </ng-container>

    <ng-template #noExtra>
      <ion-item>
        <ion-text color="medium">
          <p>Si no especificas cantidad y precio unitario, solo se usará el total.</p>
        </ion-text>
      </ion-item>
    </ng-template>

    <ion-item>
      <ion-label position="stacked">Total</ion-label>
      <ion-input
        type="number"
        [value]="total()"
        (ionInput)="changeTotal($event)"
        [disabled]="extraFields()"
        placeholder="Total">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Nota (opcional)</ion-label>
      <ion-input type="text" [value]="note()" (ionInput)="changeNote($event)" placeholder="Nota"></ion-input>
    </ion-item>

    <div class="ion-padding-vertical">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button expand="block" color="medium" type="button" (click)="cancel()">Cancelar</ion-button>
          </ion-col>
          <ion-col>
            <ion-button expand="block" color="primary" type="submit">Agregar</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </form>
</ion-content>