<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Historial</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Historial</ion-title>
    </ion-toolbar>
  </ion-header>

  @if (expenses().length > 0) {
    <ion-list>
      @for (item of expenses(); track $index) {
        <ion-card class="ion-margin-vertical">
            <ion-card-header>
              <ion-card-subtitle color="dark" class="ion-display-flex ion-justify-content-between ion-align-items-center">
                <ion-text>{{ item.date }}</ion-text>
                <ion-item lines="none" class="ion-no-padding">
                  <ion-button
                    fill="outline"
                    size="small"
                    class="padding-8-end"
                    [routerLink]="['/tabs/add']"
                    [queryParams]="{ id: item.id }">
                    <ion-icon name="pencil-outline" color="primary"></ion-icon>
                  </ion-button>
                  <ion-button
                    fill="outline"
                    size="small"
                    color="danger"
                    (click)="deleteExpense(item)">
                    <ion-icon name="trash-outline" color="danger"></ion-icon>
                  </ion-button>
                </ion-item>
              </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-item lines="none" class="ion-no-padding">
              <ion-text class="padding-8-end money-text" color="success">${{ item.earnings | number:'1.0-2' }}</ion-text>
              <ion-text class="padding-8-end money-text" color="danger">-${{ item.totalExpenses | number:'1.0-2' }}</ion-text>
              <ion-text class="padding-8-end money-text" color="dark"> = </ion-text>
              <ion-text class="padding-8-end profit-text" [color]="item.netProfit >= 0 ? 'success' : 'danger'">${{ item.netProfit | number:'1.0-2' }}</ion-text>
            </ion-item>
          </ion-card-content>
        </ion-card>
      }
    </ion-list>
  } @else {
    <div class="ion-text-center ion-padding-top" style="margin-top: 30vh;">
      <h3>Sin registros</h3>
      <p class="ion-padding-horizontal">Comienza por agregar tu primer registro financiero.</p>
      <ion-button routerLink="/tabs/add" class="ion-margin-top">
        Agregar Registro
      </ion-button>
    </div>
  }
</ion-content>
